/*
 * Rename this file to env.h and put your absolute path to shader files
 */
#pragma once

#include <string>

std::string ResourcesPath("<YOUR_PATH>");
std::string AssetsPath("<YOUR_PATH>");
std::string VertexShaderName("VertexShader.glsl");
std::string FragmentShaderName("FragmentShader.glsl");
std::string LightSourceFragmentShaderName("LightSourceFragmentShader.glsl");
std::string TextureName("wooden_container.jpg");
std::string SecondTextureName("awesomeface.png");

static const std::string VertexShaderPath = ResourcesPath + VertexShaderName;
static const std::string FragmentShaderPath = ResourcesPath + FragmentShaderName;
static const std::string LightSourceFragmentShaderPath = ResourcesPath + LightSourceFragmentShaderName;
static const std::string TexturePath = AssetsPath + TextureName;
static const std::string SecondTexturePath = AssetsPath + SecondTextureName;